name: Build and Deploy

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build for Linux
        run: |
          GOOS=linux GOARCH=amd64 go build -o deployer cmd/main.go

      - name: Push to prod branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git checkout -B prod
          git add -f deployer
          git commit -m "Build $(date +'%Y-%m-%d %H:%M:%S')"
          git push -f origin prod
